.inner{
    display: inline;
}

.heading{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: larger;
}
.container{
    padding:5%;

}
.buttonFiller{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: x-small;
}

.cancelbutton{
    background-color: rgb(175, 173, 170);
    border-radius: 10px;
}
#button{
    border-radius: 10px;  
    padding: 3px;
    margin: 3%; 
    

}


.deletebutton{
    background-color: white;
    padding-top: 7px;
  
}
.cancel{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: x-small;
    color:rgb(255, 253, 253)
}
.writing{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: small;

}


.deleteAccount{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;

}

.delete{
    color: rgb(105, 101, 101);
    font-family: 'Nunito', sans-serif;
    text-align: center;


    font-size: x-small;

}


