.heading{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: larger;
}
.container{
    padding:5%;

}
.buttonFiller{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: x-small;
}


.button{
    float: right ;
    background-color: antiquewhite;
    border-radius: 10px;
}
.cancelbutton{
    float: left ;

    background-color: rgb(175, 173, 170);
    border-radius: 10px;
}
.cancel{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: x-small;
    color:white
}
.writing{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: small;

}