extends index

block content
    h1 Form Index
    a(class='button' href='/forms/createForm') Click here to post a new form.
    br
    br
    a(class='button' href='/forms/updateForm') Click here to update an existing form.
    br
    br
    a(class='button' href='/forms/deleteForm') Click here to delete an existing form.
    br
    br
    a(class='button' href='/forms/formList') Click here to view all forms
