extends formIndex

block content
    h1 Welcome #{name}!
    br
    a(class='button' href='/forms/updateForm') Click here to edit your form.
    br
    br
    a(class='button' href='/forms/deleteForm/') Click here to delete your form.
    br
    br
    a(class='button' href='/forms/formList') Click here to view all forms
