extends layout

block content
    h1 Welcome to #{title}
    a(class='button' href='/users/login') Click here for users
    br
    a(class='button' href='/organisers') Click here for organiser
    br
    a(class='button' href='/forms') Click here to post a form




