extends layout

block content
    h1 Welcome to #{title}
    a(class='button' href='/users') Click here for users
    br
    a(class='button' href='/form-management') Click here for form management
    br
    a(class='button' href='/organisers') Click here for organiser



