
extends index
block content

    h1 Log in
    form(action='users/login', method='post', class='signin')
        p
        | username:
        input(name='username', value='', type='username')
        br
        | password:
        input(name='password', value='', type='password')
        br
        button(value='Submit', type='submit') Sign in
        br
        a(class='button' href='/users/signUp') Click here to sign up



