extends index
block content
    h1 Sign up
    form(action='signUp', method='post', class='signup')
        p
        | Username:
        br
        input(name='username', value='', type='username')
        br
        | Email:
        br
        input(name='email', value='', type='email')
        br
        | First name:
        br
        input(name='first_name', value='', type='first_name')
        br
        |Last name:
        br
        input(name='last_name', value='', type='last_name')
        br
        | Password:
        br
        input(name='password', value='', type='password')
        br
        button(value='Submit', type='submit') Sign up
        br
        a(href='login') Already have an account?




