extends welcomeUser
block content
    h1 Hi #{first_name} #{last_name}
    h2 Fill details to be changed:
    form(action='update/'+username, method='post')
        | Username:
        input(name='username', value='', type='username')
        br
        | Email:
        input(name='email', value='', type='email')
        br
        | First name:
        input(name='first_name', value='', type='first_name')
        br
        | Last name:
        input(name='last_name', value='', type='last_name')
        br
        | Password:
        input(name='password', value='', type='password')
        br
        button(value='Submit', type='submit') Confirm details

