.updateButton {
    /*grid-area: orgButton1,orgButton2, orgButton3;*/
    background-color: #896dc5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 110%;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 10px;
    height: 100%;
    font-weight: bold;
}